body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
div {
    display: block;
}

/*html {*/
    /*color: #000;*/
    /*background: #FFF;*/
/*}*/
body {
    font-family: "PingFang SC", ".萍方-简", "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, sans-serif;
    background: rgb(248, 248, 248);
}